.main {
  display: flex;
  height: 10vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  /* margin-left: 500px; */
  width: 30%;
}

ul li {
  font-size: 20px;
} 
